.auth-container {
    background: url("../assets/ss_bg.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-box h2 {
    margin-bottom: 20px;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.auth-box .login-button,
.auth-box .register-button,
.auth-box .guest-button {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.auth-box .guest-button:hover {
    background-color: #222;
}

.auth-box .switch-link {
    color: #007bff;
    background: none;
    border: none;
    margin-top: 5px;
    cursor: pointer;
    font-size: 0.95em;
    text-decoration: underline;
}

.checkbox-row {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9em;
    margin: 10px 0;
    justify-content: flex-start;
    width: 100%;
}
