.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d;
    color: white;
    flex-direction: column;
}

.reset-password-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.reset-password-container input {
    padding: 10px;
    width: 250px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.reset-password-container button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-password-container button:hover {
    background-color: #218838;
}
